{% extends "layout.html" %} {% block head %}
<title>Sobre - Stefan Fugmann</title>
{% endblock %} {% block content %}

<div id="wrapper">
  <img
    src="https://avatars2.githubusercontent.com/u/50536387?s=460&v=4"
    alt="Stefan Fugmann"
  />
  <h1>Stefan Fugmann</h1>
  <h2>Aluno - Rocketseat</h2>
  <p>
    Profissional que está se aperfeiçoando com os cursos da
    <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
  </p>
</div>

<div id="links-footer" class="links">
  <a href="https://github.com/StefanFugmann" target="_blank">Github</a>
  <a href="https://twitter.com/FugmannStefan" target="_blank">Twitrer</a>
  <a
    href="https://www.linkedin.com/in/stefan-fugmann-b22718187/"
    target="_blank"
    >LinkedIn</a
  >
</div>

{% endblock %}
